In [1]:
import pandas as pd
import numpy as np

In [2]:
zoo = pd.read_csv('zoo.csv')

In [3]:
zoo.head()

,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [6]:
zoo.rename(columns={'animal name': 'animal'}, inplace=True)
zoo

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [7]:
zoo.animal.value_counts()

frog        2
seal        1
seasnake    1
lark        1
boar        1
           ..
hawk        1
flamingo    1
worm        1
seawasp     1
penguin     1
Name: animal, Length: 100, dtype: int64

In [8]:
zoo.shape

(101, 18)

In [10]:
zoo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    101 non-null    object
 1   hair      101 non-null    int64
 2   feathers  101 non-null    int64
 3   eggs      101 non-null    int64
 4   milk      101 non-null    int64
 5   airborne  101 non-null    int64
 6   aquatic   101 non-null    int64
 7   predator  101 non-null    int64
 8   toothed   101 non-null    int64
 9   backbone  101 non-null    int64
 10  breathes  101 non-null    int64
 11  venomous  101 non-null    int64
 12  fins      101 non-null    int64
 13  legs      101 non-null    int64
 14  tail      101 non-null    int64
 15  domestic  101 non-null    int64
 16  catsize   101 non-null    int64
 17  type      101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

In [13]:
y=zoo['type'].values
X=zoo.drop(['type','animal'],axis=1).values

In [14]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.3, random_state=42)
knn = KNeighborsClassifier(n_neighbors=4)
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=4)

In [15]:
knn.score(X_train,y_train)

0.9428571428571428

In [16]:
knn.score(X_test,y_test)

0.8709677419354839